.h1{
width: 334px;
height: 79px;
left: 100px;
top: 0px;
position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
color: #000000;
}
.a1{
padding: 1em;
display: block;
color: #fff;
border-right: 1px solid #fff;
border-left : 1px solid #fff;
text-decoration: none;
}
.navbar{
position: absolute;
list-style-type: none;
width: 1283px;
height: 720px;
left: 200px;
top: 117px;
}
.nav-bar1{
list-style: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
display: flex;
padding-left: 180px;
list-style: none;
color: #FFFFFF;
margin-top: 38px;
}
.aside{
border: 1px solid #000000;
margin-left: 200px;
width: 200px;
float: inline-end;
padding: 10px;
width: 305px;
float: left;
margin-top: 0px;


}
.a2{
display: flex;
padding: 0.8em;
padding-left: 44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #485863;
}
.img{
    width: 885px;
    height: 529px;
    margin-left: 595px;
    margin-top: 280px;
    
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.picture{

    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 60px;
    
    background: url(top1-img.png);
}
.p1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #2C2C2C;
    margin-left: 595px;
    padding-top: 68px;
}
.p2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    padding-top: 34px;
    color: #2C2C2C;
    margin-left: 590px;
}
.section{
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    background-color: #63696E7A;
}
.li1{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

display: flex;

color: #0C1927;
text-decoration: none;
padding: 1em;
}
.li_1{

}
.copyright{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* or 100% */

display: flex;
align-items: center;

color: #010101;
margin-left: 150px;
}

