.h1{
width: 334px;
height: 79px;
left: 0px;
top: 0px;
font-size: 80px;
line-height: 94px;
display: flex;
color: #000000;
margin-left: 26.5%;
}
.a1{
padding: 1em;
display: block;
color: #fff;
border-right: 1px solid #fff;
border-left : 1px solid #fff;
text-decoration: none;
}
.a1:hover{
    box-shadow: 0 0 40px 40px #e74c3c inset;
}
.navbar{
display: flex;
margin-left: 27%;
list-style-type: none;
width: 1280px;
height: 72px;
}
.nav-bar1{
list-style: none;
font-size: 24px;
line-height: 28px;
display: flex;
list-style: none;
color: #FFFFFF;
margin:0;
padding-left: 180px;
padding-right: 180px;
}
.aside{
border: 1px solid #000000;
margin-left: 26.55%;
width: 200px;
padding: 10px;
width: 305px;
float:left;
margin-top: 6.75%;
} 
.a2{
display: flex;
padding: 0.8em;
padding-left: 44px;
font-size: 27px;
line-height: 27px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #485863;

}

.a2:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    color: #fff;
    list-style: none;
  }
.img{
    width: 885px;
    height: 529px;
    margin-left: 51.5%;
    margin-top: 100px; 
    
    
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.picture{

    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 60px;
    border-radius: 15px;
    border: #010101;
    
    background: url(top1-img.png);
}
.section{
    margin-left: 25.5%;
    margin-right: -23%;
    width: 1260px;
    height: 69px;
    display: flex;
    text-decoration: none;
    background-color: #63696E7A;
}
.section{
    display: flex;
    text-decoration: none;
    margin-left: 26.5%;
    background-color: #63696E7A;
    text-decoration: none;
}

.section li {
    height: 28px;
    font-size: 24px;
    display: inline-block;
    color: #0C1927;
    text-decoration: none;
}
.section div{
display: inline;
}
.section a{
text-decoration: none;
}
.li_1{
    text-decoration: none;
}
.a3{
    text-decoration: none;
    list-style: none;
    padding: 0.8em;
    padding-left: 40px;
    font-size: 22px;
    line-height: 27px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #000;
}
.a3:hover {
    color: #7016;
    border-bottom: 2px solid #7008;
  }